<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- to read & write images ... -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" /> <!-- read GPS embedded in photos, for Places -->
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="29"
        tools:ignore="ScopedStorage" /> <!-- to set Wallpaper -->
    <uses-permission android:name="android.permission.SET_WALLPAPER" /> <!-- to show FileOperation progress as a notification -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="com.absolute.floral.ui.CustomFontApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Floral"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/CameraRoll.Theme">
        <activity android:name="com.absolute.floral.ui.FirstActivity"
            android:theme="@style/SplashTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.absolute.floral.ui.PinningActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/SplashTheme" />
        <activity
            android:name="com.absolute.floral.ui.LoadingActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.absolute.floral.ui.SplashActivity" />
        <activity
            android:name="com.absolute.floral.ui.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.Main">

        </activity>
        <activity
            android:name="com.absolute.floral.ui.AlbumActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.Translucent.Album" />
        <activity
            android:name="com.absolute.floral.ui.ItemActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.PhotoView"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.absolute.floral.ui.VideoPlayerActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:theme="@style/CameraRoll.Theme.VideoPlayer"
            tools:targetApi="n" />
        <activity
            android:name="com.absolute.floral.ui.SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.Settings" />
        <activity
            android:name="com.absolute.floral.ui.FileExplorerActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.Translucent.FileExplorer" />
        <activity
            android:name="com.absolute.floral.ui.FileOperationDialogActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.Translucent.FileOperationDialog" />
        <activity
            android:name="com.absolute.floral.ui.ExifEditorActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.ExifEditor"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.absolute.floral.ui.EditImageActivity"
            android:label="@string/edit"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.EditImage" />
        <activity
            android:name="com.absolute.floral.ui.SetWallpaperActivity"
            android:label="@string/wallpaper"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/CameraRoll.Theme.SetWallpaper"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.ATTACH_DATA" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.absolute.floral.ui.ExcludePathsActivity"
            android:label="@string/excluded_paths"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.ExcludePaths" />
        <activity
            android:name="com.absolute.floral.ui.VirtualAlbumsActivity"
            android:label="@string/virtual_albums"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.VirtualDirectories" />
        <activity android:name="com.absolute.floral.IntentReceiver"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.GET_CONTENT" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.OPENABLE" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PICK" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.camera.action.REVIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.EDIT" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.absolute.floral.data.fileOperations.Copy"
            android:foregroundServiceType="dataSync"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name="com.absolute.floral.data.fileOperations.Delete"
            android:foregroundServiceType="dataSync"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name="com.absolute.floral.data.fileOperations.Move"
            android:foregroundServiceType="dataSync"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name="com.absolute.floral.data.fileOperations.NewDirectory"
            android:foregroundServiceType="dataSync"
            tools:ignore="InnerclassSeparator" />
        <service
            android:name="com.absolute.floral.data.fileOperations.Rename"
            android:foregroundServiceType="dataSync"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name="com.absolute.floral.ui.CollageActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.SearchActivity"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustResize|stateVisible"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.MemoryActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.BucketActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.InsightsActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.ColorSearchActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.PlacesActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.BrowseByDateActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme" />
        <activity
            android:name="com.absolute.floral.ui.StoryPlayerActivity"
            android:launchMode="singleTop"
            android:theme="@style/CameraRoll.Theme.PhotoView" />

        <receiver
            android:name="com.absolute.floral.widget.MemoriesWidgetProvider"
            android:exported="false"
            android:label="Floral Memories">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.absolute.floral.widget.REFRESH" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_memories_info" />
        </receiver>
    </application>

</manifest>
